<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Workers</h1>

<div class="container-fluid">
    <div class="card shadow">

        <div class="card-body">
            <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                <table class="table dataTable my-0" id="dataTable">
                    <thead>
                    <tr  align="center">
                        <th th:text="id"></th>
                        <th th:text="name"></th>
<!--                        <th th:text="description"></th>-->
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="worker : ${worker}">
                        <td align="center" th:text="${worker.id}"></td>
                        <td align="center" th:text="${worker.name}"></td>
<!--                        <td align="center" th:text="${worker.description}"></td>-->

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>