<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <title th:text="#{home.page}">{homePage}</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/fonts/ionicons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=ABeeZee">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/css/homePage.css">

</head>

<body>

<div th:include="fragments/header :: header-home-page" th:remove="tag"></div>


<div class="info">
    <h2 class="info" th:text="#{info}"><span>{Info}</span></h2>
    <h3 class="divider-style"></h3>
</div>

<br>
<br>

<div class="container-fluid">
    <div class="card shadow">

        <div class="card-body">
            <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                <table class="table dataTable my-0" id="dataTable">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Description</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="p : ${project}">
                        <th scope="row" th:text="${p.id}" style="width: 10px">{ID}</th>
                        <th scope="row" th:text="${p.name}" style="width: 10px">{ID}</th>
                        <th scope="row" th:text="${p.description}" style="width: 10px">{ID}</th>
                    </tr>

                </table>
            </div>
        </div>
    </div>
</div>
</div>

<div th:include="fragments/footer :: footer" th:remove="tag"></div>

</body>

</html>
