<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title th:text="#{login.page}">Login page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/fonts/ionicons.min.css">
    <link rel="stylesheet" href="/css/loginForm.css">
</head>

<body class="text-center">
<div class="login-dark">

    <form class="reg" method="post">

        <div class="illustration">
            <i class="icon ion-ios-locked-outline"></i>
        </div>

        <div class="form-group">
            <input class="form-control" name="login" th:placeholder="#{enter.login}">
        </div>

        <div class="form-group">
            <input class="form-control" type="password" name="password" th:placeholder="#{enter.password}">
        </div>

        <div class="form-group">
            <input class="btn btn-primary btn-block" type="submit" th:value="#{login}"/>
            <a class="btn btn-primary btn-block" type="submit" th:text="#{register}" href="/reg"> Register </a>
        </div>
    </form>
</div>

</body>

</html>